<ion-header>
  <ion-toolbar>
    <ion-title>homework</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="processForm(f)">
    <div class="form-group">
      <ion-item>
        <ion-label position="floating">Buscar</ion-label>
        <ion-input
          id="wordToSearch"
          ngModel
          name="wordToSearch"
          #wordToSearch="ngModel"
          class="form-control"
        ></ion-input>
      </ion-item>
    </div>
  </form>
  <div class="list-content">
    <ion-card *ngFor="let entry of myEntries">
      <ion-card-header>
        <ion-card-subtitle>{{entry.frequency}}</ion-card-subtitle>
        <ion-card-title>{{entry.word}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{entry.pronunciation.all}}
        <div class="card-content">
          <ion-button class="card-content-button">
              <ion-label text-wrap>Review tomorrow</ion-label>
          </ion-button>
          <ion-button class="card-content-button">
              <ion-label text-wrap>Review in X days</ion-label>
          </ion-button>
          <ion-button class="card-content-button">
              <ion-label text-wrap>Learn</ion-label>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
